{% load i18n static solo_tags %}
{% get_solo 'website.SiteConfiguration' as site_config %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <title>{% block title %}{{ site_config.site_name }}{% endblock title %}</title>
    <link href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'libs/jquery-ui/jquery-ui.css' %}">
{#    <link rel="stylesheet" href="{% static 'libs/jquery-ui/themes/jquery-ui.min.css' %}">#}
    <link href="{% static 'libs/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    {% block extra_css %}
    {% endblock extra_css %}
</head>
<body>
 <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="{% url 'flow:dashboard' %}">{{ site_config.site_name }}</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
        </ul>
        <form class="form-inline mt-3 mt-md-0">
            <a href="{% url 'security:userprofile' %}">
                {% if not user.userprofile.image_profile %}
                <i style="color:white;" class="fa fa-user pull-right fa-2x"></i>
                {% else %}
                    <img class="rounded mx-auto" src="{{ user.userprofile.image_profile.url }}" alt="" width="32px" height="32px">
                {% endif %}
            </a>
            <a href="{% url 'security:logout' %}"> <i style="color:white;" class="fa fa-power-off pull-right fa-2x"></i></a>
        </form>
      </div>
    </nav>
<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link  {% block nav_dashboard %}{% endblock %}" href="{% url 'flow:dashboard' %}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% block nav_transac %}{% endblock %}" href="{% url 'flow:transaction-list' %}">{% trans 'Transacciones' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% block nav_category %}{% endblock %}" href="{% url 'flow:category-list' %}">{% trans 'Categorías' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% block nav_cuentas %}{% endblock %}" href="{% url 'flow:account-list' %}">{% trans 'Cuentas' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% block nav_centros %}{% endblock %}" href="{% url 'flow:cost_center-list' %}">{% trans 'Centros de Costo' %}</a>
                </li>
            {% if user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link {% block nav_users %}{% endblock %}" href="{% url 'security:user-list' %}">{% trans 'Usuarios' %}</a>
                </li>
            {% endif %}
            </ul>
        </nav>
        <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
        {% if messages %}
            {% for message in messages %}
                <div class="alert {% if message.tags == 'success' %}alert-success{% else %}alert-danger{% endif %} alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
            <h1>
                {% block page-title %} {% endblock page-title %}
                <div class="float-right">
                    {% block add-button %}
                        {#                        <a href="#" class="btn btn-primary"><i class="fa fa-plus"></i> {% trans 'Nuevo' %}</a>#}
                    {% endblock add-button %}
                </div>
            </h1>
            {% block content %}
            {% endblock content %}
        </main>
    </div>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'libs/jquery/jquery-1.12.4.js' %}"></script>
<script src="{% static 'libs/jquery-ui/jquery-ui.js' %}"></script>
<script src="{% static 'libs/popper/popper.min.js' %}"></script>
<script src="{% static 'libs/bootstrap/js/bootstrap.min.js' %}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{% static 'libs/ie10/ie10-viewport-bug-workaround.js' %}"></script>
 <script>
  $( function() {
    $( ".datepicker" ).datepicker({
        dateFormat: "dd-mm-yy"
    });
  } );
  </script>
{% block extra_js %} {% endblock extra_js %}
</body>
</html>
