{% extends 'base.html' %}
{% load i18n static add_class %}
{% block title %}{% trans 'Perfil' %}{% endblock %}
{% block page-title %}{% trans 'Cambiar contraseña' %}{% endblock %}
{% block nav_cuentas %}active{% endblock %}
{% block content %}
    <div class="alert alert-warning" role="alert">
        {% trans 'Al realizar el cambio de contraseña, el sistema eliminará su sesión activa y por su seguridad, pedirá que ingrese de nuevo sus credenciales en la ventana de acceso a DjCostCenter.' %}
    </div>
    <form action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-xs-6 col-md-6">
                <div class="form-group">
                    <label for="id_password_one">{% trans 'Ingrese nueva contraseña' %}</label>
                    <input autofocus id="id_password_one" type="password" name="password_one" class="form-control">
                </div>
            </div>
            <div class="col-xs-6 col-md-6">
                <div class="form-group">
                    <label for="id_password_two">{% trans 'Repita la contraseña' %}</label>
                    <input id="id_password_two" type="password" name="password_two" class="form-control">
                </div>
            </div>
        </div>
        <div class="text-right">
            <a href="{% url 'security:userprofile' %}" class="btn btn-default">{% trans 'Regresar' %}</a>
            <input class="btn btn-primary" type="submit" value="{% trans 'Cambiar contraseña' %}">
        </div>
    </form>
{% endblock content %}