{% load i18n static solo_tags %}
{% get_solo 'website.SiteConfiguration' as site_config %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">

    <title>{{ site_config.site_name }}</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/cover.css' %}" rel="stylesheet">
</head>

<body>

<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">{{ site_config.site_name }}</h3>
                    <nav class="nav nav-masthead">
                        <a class="nav-link active" href="{% url 'security:login' %}">{% trans 'Ingresar' %}</a>
{#                        <a class="nav-link" href="#">Características</a>#}
{#                        <a class="nav-link" href="#">Contactos</a>#}
                    </nav>
                </div>
            </div>

            <div class="inner cover">
                <h1 class="cover-heading">DjCostCenter</h1>
                <p class="lead">{% trans 'Maneje de forma efectiva el flujo de de ingresos y egresos que tiene su negocio o personal' %}</p>
                <p class="lead">
{#                    <a href="#" class="btn btn-lg btn-secondary">Aprenda más</a>#}
                </p>
            </div>
            <div class="mastfoot">
                <div class="inner">
                    <p>Impulsado por <a href="https://bitbucket.com/adlpaf/djcostcenter"> Aplicación Open Source</a>, escrito por <a
                            href="https://twitter.com/adlpaf/">@adlpaf</a>.</p>
                </div>
            </div>

        </div>

    </div>

</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'libs/jquery/jquery-1.12.4.js' %}"></script>
<script src="{% static 'libs/popper/popper.min.js' %}"></script>
<script src="{% static 'libs/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'libs/ie10/ie10-viewport-bug-workaround.js' %}"></script>
</body>
</html>
