{% extends 'base.html' %}
{% load i18n static %}
{% block title %}{% trans 'Centros de Costo' %}{% endblock %}
{% block page-title %}{% trans 'Lista de Centros de Costo' %}{% endblock %}
{% block nav_centros %}active{% endblock %}
{% block add-button %}
     <a href="{% url 'flow:cost_center-new' %}" class="btn btn-outline-primary"><i class="fa fa-plus"></i> {% trans 'Nuevo' %}</a>
{% endblock %}
{% block content %}
    {% if object_list %}
        <table class="table table-sm">
            <thead class="thead-inverse">
            <tr>
                <th>{% trans 'Nombre' %}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for element in object_list %}
                <tr>
                    <td><a href="{% url 'flow:cost_center-edit' element.pk %}">{{ element.name }}</a></td>
                    <td><a href="{% url 'flow:cost_center-delete' element.pk %}" class="btn btn-danger btn-sm btn-flat"><i class="fa fa-trash"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% include 'includes/paginator.html' with url_list='/flow/cost_center/list/' %}
    {% else %}
        <div class="alert alert-info" role="alert">
            <span>{% trans 'Parece que aún no hay centros de costo registradas' %}</span>
        </div>
    {% endif %}
{% endblock content %}