{% extends 'base.html' %}
{% load i18n static add_class %}
{% block title %}{% trans 'centro' %}{% endblock %}
{% block page-title %}{% trans 'Editar centro' %}{% endblock %}
{% block nav_centros %}active{% endblock %}
{% block content %}
    <form action="." method="post">
        {% csrf_token %}
        {% for field in form %}
            <label for="{{ field.auto_id }}">{{ field.label }}</label>
            <p>{{ field|add_class:"form-control" }}</p>
            {% if field.errors %}
                {% for error in field.errors %}
                    <small class="text-danger">{{ error }}</small>
                {% endfor %}
            {% endif %}
    {% endfor %}
    <div class="text-right">
        <a href="{% url 'flow:cost_center-list' %}" class="btn btn-secondary">{% trans 'Regresar' %}</a>
        <input class="btn btn-outline-primary" type="submit" value="{% trans 'Guardar' %}">
    </div>
    </form>
{% endblock content %}